body {
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.section {
  margin: 40px auto;
  width: 90%;
}

.game-card {
  background: #222;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.standings {
  display: flex;
  justify-content: space-around;
}

.team-row {
  background: #222;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}